body{
    background-color: rgba(139, 241, 236, 0.61);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
/* EM HTML É ID = VIRA # EM CSS (so pode em 1 elemento)
    EM HTML OQ É CLASS = VIRA . EM CSS (pode em varios elementos)
*/

h1{
    color: rgb(38, 119, 49);
}

h2{
    color: rgb(0, 92, 0);
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

.basico{
    color: rgb(17, 185, 17);
}

.intermediario{
    color: rgb(150, 150, 5)
}

.avançado{
    color: red;
}