h1{
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    border-color: darkblue;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
}

a{
    border-width: 2px;
    border-style: solid;
    border-color: red;
    padding: 2px;
}

a:hover{
    color: red;
}